<div class="row mb-3 g-3">
  <ng-container *ngIf="pokemonsAll && pokemonsAll.results && pokemonsAll.results.length>0"; else noPokemons>
   <div class="col-3" *ngFor="let pokemon of pokemonsAll.results">
       <div class="card fixed-card">
           <div *ngIf="!imageLoaded">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" style="shape-rendering: auto; display: block; background: rgb(255, 255, 255);" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle stroke-dasharray="164.93361431346415 56.97787143782138" r="35" stroke-width="10" stroke="#583134" fill="none" cy="50" cx="50">
  <animateTransform keyTimes="0;1" values="0 50 50;360 50 50" dur="1s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform>
</circle><g></g></g>
</svg>
           </div>
           
           <img 
           [src]="pokemon.data?.sprites?.versions?.['generation-v']?.['black-white']?.animated?.front_default" 
               class="card-img-top fixed-img" 
               alt="..."
               loading="lazy"
               (load)="imageLoaded=true"
           >

           <div class="card-body fixed-body">
           <h5 class="card-title">{{pokemon.name}}</h5>
           <p class="card-text">{{pokemon.data?.base_experience}}</p>
           <li class="btn btn-outline-primary" (click)="openModal(pokemon.data!)">Mas Informacion</li>
           </div>
       </div>
   </div>
  </ng-container>
  <ng-template #noPokemons>
   <div class="col-12">
       <div class="alert alert-warning" role="alert">
           No se han encontrado Pokemons
       </div>
   </div>
  </ng-template>
</div>

<pokemon-modal /> 