<div class="modal fade show d-block" *ngIf="show" tabindex="-1" style="background-color: rgba(0,0,0,0.5)">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ character.name | titlecase }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <img [src]="character.image" class="img-fluid mb-2" />
        <p>Status: {{ character.status }}</p>
        <p>Gender: {{ character.gender }}</p>

        <!-- Mostrar ubicación solo si está definida -->
        <div *ngIf="location">
          <hr>
          <h6>Ubicación</h6>
          <p><strong>Nombre:</strong> {{ location.name }}</p>
          <p><strong>Tipo:</strong> {{ location.type }}</p>
          <p><strong>Dimensión:</strong> {{ location.dimension }}</p>
          <button class="btn btn-outline-info mt-2" (click)="verUbicacionCompleta.emit()">Ver toda la ubicación</button>
        </div>


        <!-- Botón para ver todos los episodios -->
        <button
          class="mt-4 btn btn-primary"
          (click)="verTodosLosEpisodios()"
        >
          Ver todos los episodios
        </button>


      </div>
    </div>
  </div>
</div>
